.container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.topContainer {
  display: flex;
}

.imgContainer {
  height: 350px;
  width: 90%;
  flex-shrink: 0;
  position: relative;
}

.img {
  object-fit: contain;
}

.date {
  transform: rotate(270deg);
  text-wrap: nowrap;
  font-size: 0.8rem;
  margin: auto 0;
  margin-left: -2rem;
}

.textLink {
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: underline;
}
