.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.textWrapper {
  width: clamp(250px, 90vw, 500px);
}

.paragraphWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.paragraphWrapper a {
  text-decoration: underline;
}
