.container {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorDiv {
  margin-top: 1rem;
  text-align: center;
}

.loadingDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.sentenceContainer {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sentenceWrapper {
  padding: 1rem 0;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2rem;
}

.sentenceDisclaimer {
  padding: 1rem 0;
}

.wordHeader {
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  white-space: nowrap;
}

.componentsWrapper {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  margin-top: 10px;
}

.singleComponent {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.componentHeader {
  font-size: 1.3rem;
  min-height: 31px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.componentMeaning {
  white-space: nowrap;
  min-height: 19px;
}

.componentPOS {
  font-size: 0.8rem;
  color: var(--greyBtn);
}

.componentLink:hover .componentHeader {
  color: var(--btnLight);
}

.singleComponent:hover .componentPOS,
.singleComponent:hover .componentMeaning {
  text-shadow: 0 0 0.01px white, 0 0 0.01px white;
}

.matchingGrammarContainer {
  padding: 1rem;
  border: 1px solid var(--btnLight);
  border-radius: 0.5rem;
  max-width: 500px;
  width: 100%;
}

.matchingGrammarButton {
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
  width: 100%;
}

.matchingGrammarChevron {
  margin: auto 0;
  color: var(--greyBtn);
}

.matchingGrammarChevron[data-open="true"] {
  transform: rotate(180deg);
}

.matchingGrammarTitle {
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.matchingGrammarPanel {
  padding-top: 1rem;
}

.matchingGrammarResults {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 1rem;
}

.matchingGrammarLink {
  border: 1px solid var(--greyBtn);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.matchingGrammarWarning {
  font-size: 0.8rem;
  color: var(--greyBtn);
}
