.container {
  position: fixed;
  top: 0;
  width: 1536px;
  height: 100px;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 0 1rem;
}

.headerLink {
  display: flex;
  gap: 0.75rem;
}

.imgDiv {
  display: flex;
  align-items: center;
}

.heading {
  font-size: 1.6rem;
  font-weight: 600;
}

.heading span {
  display: inline-block;
}

.headingText span:nth-child(even) {
  transform: translateY(1.5px);
}

.headingText span:nth-child(odd) {
  transform: translateY(-1.5px);
}

.subheading {
  font-size: 0.8rem;
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
  }
}
@media (max-width: 475px) {
  .container {
    width: 380px;
  }
}
