.topLine {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.wordLine {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.wordData {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.entryTerm {
  font-size: 1.3rem;
  text-decoration: underline;
  margin-right: 10px;
}

.pronunciation {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link {
  height: 100%;
  display: flex;
  align-items: center;
}

.definitionList {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.exampleList {
  margin-top: 1rem;
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 640px) {
  .topLine {
    flex-direction: column;
    align-items: flex-start;
  }

  .wordData {
    margin-bottom: 1rem;
  }

  .addBtnMobile {
    display: block;
  }

  .addBtnDesktop {
    display: none;
  }
}
