.topLine {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 5px;
}

.wordLine {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.wordData {
  display: flex;
  gap: 7px;
}

.entryTerm {
  font-size: 1.3rem;
  text-decoration: underline;
  margin-right: 10px;
}

.wordGrade {
  margin-bottom: 5px;
}

.list {
  margin-left: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addBtnMobile {
  display: none;
}

@media (max-width: 640px) {
  .topLine {
    flex-direction: column;
    align-items: flex-start;
  }

  .wordData {
    margin-bottom: 1rem;
  }

  .addBtnMobile {
    display: block;
  }

  .addBtnDesktop {
    display: none;
  }
}
