.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.container button {
  width: 72px;
  padding: 0.75rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: bold;
  color: var(--text);
  border: none;
  border-radius: 0.25rem;
}

.btnEasy {
  background-color: var(--btn);
}

.btnGood {
  background-color: var(--btnLight);
}

.btnHard {
  background-color: var(--bgSoft);
}

.btnRepeat {
  background-color: red;
}
