.container {
  width: 100%;
  padding: 0.5rem;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
}

.collectionsHeading {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.newCollectionLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--btn);
  color: var(--btn);
}

.results {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}
